@using Commento.Repository

@{
    ViewData["Title"] = "Home Page";
}


<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
